<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <title> Explorior</title>
       <link href= "/styles/style.css" rel= "stylesheet" type="text/css"/>
       <style>
           body{
        background-image: url("/images/home.jpg");
        background-repeat: repeat;
        background-size: cover;
}
       </style>
</head>
<body>
     <a class="logo" href="/"> <img src="/images/logo.png"/> </a>

       <!--Code for Navigation Bar-->
       <div id= "nav">
            <div class="topmenu">

                <a href="/search">Search for Destination</a>
                {% if session ['logged_in']== True %}
                <a href="/history">History</a>
                {% endif %}
                {% if session ['logged_in']== True %}
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login/Sign Up</a>
                {% endif %}
              <a class="loginname">
                {% for entry1 in rv %}
                    Hi {{entry1 [0]}}
                   {% endfor %}
            </a>
                <a href="javascript:void(0);" class="icon" onclick="resp()"> <i class="fa fa-bars"></i>  </a>
            </div>
        </div>


   <script>
       function resp() {
    var x = document.getElementById("nav");
    if (x.className === "topmenu") {
        x.className += " responsive";
    } else {
        x.className = "topmenu";
    }
}
   </script>
       <!--End of Navigation Bar-->

       <div class="maintxt">

           <h1>WELCOME
           {% for entry1 in rv %}
           {{entry1 [0]}}
           {% endfor %}
           </h1>
       </div>
</body>
</html>
